{% extends "base.html" %}
{% block title %}
    User Page: {{ user.name }}
{% endblock %}

{% block content %}
    <h1>
        User: {{ user.name }} is ranked {{ user.rank }}
    </h1>
    <p> {{user.name}} has committed a total time of 
    {{ _import['datetime'].timedelta(minutes=ttc) }}
    in {{ tc }} commits. </p>
    {% if user.scripts %}
        <p> Scripts: <p/>
        <ul>
        {% for script in user.scripts %}
        <li>
        <a href="{{baseurl}}/script/{{ script.id }}">
            {{ script.name }}
        </a></li>
        {% endfor %}
        </ul>
    {% else %}
    <p> {{ user.name }} does not own any scripts. </p>
    {% endif %}

    {% if vars %}
        <p> Variables for this user: <p/>
        <ul>
        {% for var in vars %}
            <li>
            <a href="{{baseurl}}/variable/{{ var[1].id }}">
                {{ var[1].name }}</a> : {{ var[0] }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <p>
    You can view all the commits of this user
        <a href="{{baseurl}}/user/{{user.id}}/commits">
            here
        </a>
    </p>.
{% endblock %}
