<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="/merlijn/static/stats/default.css" media="screen"/>
<title>{% block title %} SRL Stats {% endblock %}</title>
</head>

<body>

<div class="container">

    <div class="header">

        <div class="title">
            <h1>SRL Stats</h1>
        </div>
        {% block topnav %}
        <div class="navigation">
            {% for nav, name in {
                'user/all'   : 'Users', 
                'script/all' : 'Scripts', 
                'commit/all' : 'Commits',
                ''          : 'Home'
            }.iteritems(): %}
            <a href="/stats/{{ nav }}"> {{ name }} </a>
            {% endfor %}
            {% if session and session['loggedin'] %}
                <a href="/stats/logout"> Log out </a>
            {% else %}
                <a href="/stats/login"> Log in </a>
            {% endif %}
            <div class="clearer"><span></span></div>
        </div>
        {% endblock %}
    </div>

    <div class="main">
        <div class="content">
            {% block content %}
            <p> Welcome to the SRL-stats homepage. </p>
            {% endblock %}
        </div>
        <div class="sidenav">
            {% block sidenav %}

           <!--  <h1>Search Scripts</h1> -->

            {% if topusers %}
            <h1>Top Users</h1>
            <ul>
                {% for user in topusers: %}
                <li>
                <a href="/stats/user/{{ user[2] }}">
                    {{ user[1] }} ({{ user[0] }} min.)
                </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if topscripts %}
            <h1>Top Scripts</h1>
            <ul>
                {% for script in topscripts: %}
                <li>
                <a href="/stats/script/{{ script[2] }}">
                    {{ script[1] }} ({{ script[0] }} min.)
                </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if topvars %}
            <h1>Top Variables</h1>
            <ul>
                {% for amount, variable in topvars : %}
                <li>
                <a href="/stats/variable/{{ variable.id }}">
                    {{ variable.name }} ({{ amount }})
                </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if lastcommits %}
            <h1>Recent commits</h1>
            <ul>
                {% for commit in lastcommits: %}
                <li>
                <a href="/stats/commit/{{ commit.id }}">
                    Adds {{ commit.timeadd }} min. ({{ commit.script.name }}, {{ commit.user.name }})
                </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endblock sidenav %}

        </div>

        <div class="clearer">&nbsp;</div>
    </div>

</div>
<div class="footer">
    {% block footer %}
    <div>
        &copy; Merlijn Wajer
    </div>
    <a href="http://www.vim.org/">
        <img src="http://www.vim.org/images/vim_created.gif"</img>
    </a>
    {% endblock %}
</div>
</body>

</html>
