{% extends "base.html" %}
{% block title %}
    Commit Page: ID({{ commit.id }})
{% endblock %}

{% block content %}
    <h1>
        Commit by {{ commit.user.name }} to {{ commit.script.name }}
    </h1>
    <p> Committed on: {{ commit.timestamp.ctime() }} </p>
    <p> This commit adds {{ commit. timeadd }} minutes to 
    <a href="{{baseurl}}/script/{{ commit.script.id }}">
        {{ commit.script.name}}</a>.</p>

    {% if commit.commitvars %}
    <ul>
        {% for cvar in commit.commitvars %}
        <li> Adds {{ cvar.amount}} of {{ cvar.variable.name }} </li>
        {% endfor %}
    </ul>
    {% endif %}

    <p> <a href="{{baseurl}}/user/{{ commit.user.id }}/script/{{ commit.script.id }}">Show only commits by {{ commit.user.name }} to {{ commit.script.name }}
    </a> </p>

{% endblock %}
