{% extends "base.html" %}
{% block title %}
    Commit Page: ID({{ commit.id }})
{% endblock %}

{% block content %}
    <h1>
        Commit by {{ commit.user.name }} to {{ commit.script.name }}
    </h1>
    <p> Committed on: {{ commit.timestamp }} </p>
    <p> Time Committed: {{ commit.timeadd }} </p>
    {% if commit.commitvars %}
        <p> Variables: <p/>
        <ul>
        {% for cvar in commit.commitvars %}
        <li> Adds {{ cvar.amount}} of {{ cvar.variable.name }} </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
