{% extends "base.html" %}
{% block title %}
    Commit Page: ID({{ commit.id }})
{% endblock %}

{% block content %}
    <h1>
        Commit by {{ commit.user.name }} to {{ commit.script.name }}
    </h1>
    <p> Committed on: {{ commit.timestamp }} </p>
    <ul>
        <li> Time Committed: {{ commit.timeadd }} </li>

    {% if commit.commitvars %}
        {% for cvar in commit.commitvars %}
        <li> Adds {{ cvar.amount}} of {{ cvar.variable.name }} </li>
        {% endfor %}
    {% endif %}
    </ul>
{% endblock %}
