{% extends "base.html" %}
{% block title %}
    Script Management: {{ user.name }}
{% endblock %}

{% block content %}
    <h1> Your scripts: </h1>
    {% if user.scripts: %}
    <ul>
        {% for script in user.scripts %}
        <li>
        <a href="{{baseurl}}/script/{{ script.id }}">{{ script.name }}</a>
        <a href="{{baseurl}}/manage/script/{{ script.id }}"> (Manage)</a>
        </li>
        {% endfor %}
    </ul>

    {% endif %}
    <a href="{{baseurl}}/manage/script/new">Create a new script</a>
{% endblock %}
