{% extends "base.html" %}
{% block title %}
    Personal Page of: {{ user.name }}
{% endblock %}

{% block content %}
    <h1> Welcome, {{ user.name }} </h1>
    <p> Your ID is: <a href="{{baseurl}}/user/{{ user.id }} ">
        {{user.id}}</a></p>

    <p>You have {{ user.name}} committed a total time of
    {{ _import['datetime'].timedelta(minutes=ttc) }}
    in {{ tc }} commits. <br/>
    Your rank is {{ user.rank }}.
    </p>

    {% if user.scripts %}
        <p> Your scripts: </p>
        <ul>
        {% for script in user.scripts %}
        <li>
        <a href="{{baseurl}}/script/{{ script.id }}">
            {{ script.name }} </a>
        <a href="{{baseurl}}/manage/script/{{ script.id }}">(Manage)</a>
        </li>
        {% endfor %}
        </ul>
    {% else %}
    <p> You do not own any scripts yet,
    <a href="{{baseurl}}/manage/script/new"> Create one now</a>
    </p>
    {% endif %}

    {% if own_commits %}
        <p> Recent commits by you: </p>
        <ul>
        {% for commit in own_commits %}
            <li>
            To {{ commit.script.name}} on {{ commit.timestamp.ctime() }}
            and adds {{ commit.timeadd}} minutes of time.
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if script_commits %}
        <p> Recent commits to scripts owned by you: </p>
        <ul>
        {% for commit in script_commits %}
            <li>
            To {{ commit.script.name }} by {{ commit.user.name }}
            on {{ commit.timestamp.ctime() }} and adds
            {{ commit.timeadd}} minutes of time.
            </li>
        {% endfor %}
        </ul>

    {% endif %}
{% endblock %}
