{% extends "base.html" %}
{% block title %}
    Script Page: {{ script.name }}
{% endblock %}

{% block content %}
    <h1>
        {{ script.name }}
    </h1>
    <p> {{ script.name }} has total running time of
    {{ _import['datetime'].timedelta(minutes=ttc) }}
    with {{ tc }} individual commits.
    </p>
    {% if vars %}
        <p> Variables of this script: <p/>
        <ul>
        {% for var in vars %}
            <li>
            <a href="{{baseurl}}/variable/{{ var[1].id }}">
                {{ var[1].name }}</a> : {{ var[0] }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <a href="{{baseurl}}/script/{{script.id}}/commits"> Commits to this script </a>
{% endblock %}
