{% extends "base.html" %}
{% block title %}
    Scripts: Page {{ pageid }}
{% endblock %}

{% block content %}
    {% if scripts %}

        <table>
            <tr>
                <th> Script ID </th>
                <th> Script Name </th>
                <th> Total Time </th>
            </tr>
        {% for script in scripts %}
            <tr>
                <td> {{ script[2] }} </td>
                <td> 
                    <a href="/stats/script/{{ script[2] }}/">
                        {{ script[1] }}
                    </a>
                </td>
                <td> {{ script[0] }} </td>
            </tr>
        {% endfor %}
        </table>

        <p>
        {% if pageid > 1 %}
        <a href="/stats/script/all/{{ pageid - 1 }}">prev</a>
        <a href="/stats/script/all/{{ pageid + 1 }}">next</a>
        {% else %}
        <a href="/stats/script/all/{{ pageid + 1 }}">next</a>
        {% endif %}
        </p>

    {% else %}

    <p> How now, brown cow? (No more scripts) </p>

    {% endif %}
{% endblock %}
