{% extends "base.html" %}
{% block title %}
    Script Page: {{ script.name }}
{% endblock %}

{% block content %}
    <h1>
        {{ script.name }}
    </h1>
    <p> Total Time Committed: 
        {{ _import['datetime'].timedelta(minutes=ttc) }}
    </p>
    <p> Total Commits: {{ tc }} </p>
    {% if vars %}
        <p> Vars: <p/>
        <ul>
        {% for var in vars %}
        <li> {{ var[1] }} : {{ var[0] }}  </li>
        {% endfor %}
        </ul>
    {% endif %}

    <a href="/stats/script/{{script.id}}/commits"> Commits to this script </a>
{% endblock %}
