{% extends "base.html" %}
{% block title %}
    Script Commits: {{ script.name }}
{% endblock %}

{% block content %}
    <h1>
        Commits to {{ script.name }} (Page {{ pageid }})
    </h1>
    {% if commits %}
        <table>
            <tr>
                <th> Commit ID </th>
                <th> Time Committed </th>
                <th> Committed by </th>
                <th> Committed on </th>
            </tr>
        {% for commit in commits %}
            <tr>
                <td>
                    <a href="{{baseurl}}/commit/{{ commit.id }}">
                        {{ commit.id }}
                    </a>
                </td>
                <td>
                    {{ commit.timeadd }}
                </td>
                <td>
                    <a href="{{baseurl}}/user/{{ commit.user.id }}">
                        {{ commit.user.name }}
                    </a>
                
                <a href="{{baseurl}}/user/{{commit.user.id}}/script/{{script.id}}">
                    (Show commits only from {{commit.user.name}})
                </a>
                </td>
                <td>
                   {{ commit.timestamp.ctime() }}
                </td>
            </tr>
        {% endfor %}
        </table>

        <p>
        {% if pageid > 1 %}
        <a href="{{baseurl}}/script/{{script.id}}/commits/{{ pageid - 1 }}">
            prev
        </a>
        <a href="{{baseurl}}/script/{{script.id}}/commits/{{ pageid + 1 }}">
            next
        </a>
        {% else %}
        <a href="{{baseurl}}/script/{{script.id}}/commits/{{ pageid + 1 }}">
            next
        </a>
        {% endif %}
        </p>

    {% else %}

    <p> How now, brown cow? (No more commits) </p>

    {% endif %}
{% endblock %}
