{% extends "base.html" %}
{% block title %}
    Users: Page {{ pageid }}
{% endblock %}

{% block content %}
    {% if users %}

        <table>
            <tr>
                <th> User Rank </th>
                <th> User ID </th>
                <th> User Name </th>
                <th> Total Time (Minutes) </th>
            </tr>
        {% for user, utime in users %}
            <tr>
                <td>
                    {{ user.rank }}
                </td>
                <td>
                    {{ user.id }}
                </td>
                <td>
                    <a href="{{baseurl}}/user/{{ user.id }}">
                        {{ user.name }}
                    </a>
                </td>
                <td>
                    {{ utime }}
                </td>
            </tr>
        {% endfor %}
        </table>

        <p>
        {% if pageid > 1 %}
        <a href="{{baseurl}}/user/all/{{ pageid - 1 }}">
            prev
        </a>
        <a href="{{baseurl}}/user/all/{{ pageid + 1 }}">
            next
        </a>
        {% else %}
        <a href="{{baseurl}}/user/all/{{ pageid + 1 }}">
            next
        </a>
        {% endif %}
        </p>

    {% else %}

    <p> How now, brown cow? (No more users) </p>

    {% endif %}
{% endblock %}
