{% extends "base.html" %}
{% block title %}
    User Page: {{ user.name }}
{% endblock %}

{% block content %}
    <h1>
        {{ user.name }}
    </h1>
    <p> Total Time Committed: 
        {% if ttc %}
        {{ _import['datetime'].timedelta(minutes=ttc) }}
        {% else %}
        {{ _import['datetime'].timedelta(minutes=0) }}
        {% endif %}
    </p>
    <p> Total Commits: {{ tc }} </p>
    {% if user.scripts %}
        <p> Scripts: <p/>
        <ul>
        {% for script in user.scripts %}
        <li>
        <a href="{{baseurl}}/script/{{ script.id }}">
            {{ script.name }}
        </a></li>
        {% endfor %}
        </ul>
    {% endif %}

    <a href="{{baseurl}}/user/{{user.id}}/commits"> Commits by this user </a>
{% endblock %}
