{% extends "base.html" %}
{% block title %}
    User Commits: {{ user.name }}
{% endblock %}

{% block content %}
    <h1>
        {{ user.name }}
    </h1>
    {% if commits %}
        <table>
            <tr>
                <th> Commit ID </th>
                <th> Time Committed </th>
                <th> Committed to </th>
            </tr>
        {% for commit in commits %}
            <tr>
                <td> <a href="/stats/commit/{{ commit.id }}">
                        {{ commit.id }} </a> </td>
                <td> {{ commit.timeadd }} </td>
                <td> <a href="/stats/script/{{ commit.script.id }}">
                        {{ commit.script.name }} </a> </td>
            </tr>
        {% endfor %}
        </table>

        <p>
        {% if pageid > 1 %}
        <a href="/stats/user/{{user.id}}/commits/{{ pageid - 1 }}">prev</a>
        <a href="/stats/user/{{user.id}}/commits/{{ pageid + 1 }}">next</a>
        {% else %}
        <a href="/stats/user/{{user.id}}/commits/{{ pageid + 1 }}">next</a>
        {% endif %}
        </p>

    {% else %}

    <p> How now, brown cow? (No more commits) </p>

    {% endif %}
{% endblock %}
