{% extends "base.html" %}
{% block title %}
    Variable {{ variable.name }})
{% endblock %}

{% block content %}
    <h1>
        Variable: {{ variable.name }}
    </h1>
    <p> Total: {{ amount }} </p>

    {% if variable.scripts %}
    <p> The following script use this variable: </p>
    <ul>
        {% for script in variable.scripts %}
        <li>
            <a href="{{baseurl}}/script/{{script.id}}">
                {{ script.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}

    {% endif %}
{% endblock %}
