{% extends "base.html" %}
{% block title %}
    Variables: Page {{ pageid }}
{% endblock %}

{% block content %}
    {% if commits %}

        <table>
            <tr>
                <th> Commit ID </th>
                <th> Script Name </th>
                <th> User Name </th>
                <th> Time (Minutes) </th>
            </tr>
        {% for commit in commits %}
            <tr>
                <td>
                    <a href="/stats/commit/{{ commit.id }}">
                        {{ commit.id }}
                    </a>
                </td>
                <td>
                    <a href="/stats/script/{{ commit.script.id }}">
                        {{ commit.script.name }}
                    </a>
                </td>
                <td>
                    <a href="/stats/user/{{ commit.user.id }}">
                        {{ commit.user.name }}
                    </a>
                </td>
                <td> {{ commit.timeadd }} </td>
            </tr>
        {% endfor %}
        </table>

        <p>
        {% if pageid > 1 %}
        <a href="/stats/commit/all/{{ pageid - 1 }}">prev</a>
        <a href="/stats/commit/all/{{ pageid + 1 }}">next</a>
        {% else %}
        <a href="/stats/commit/all/{{ pageid + 1 }}">next</a>
        {% endif %}
        </p>

    {% else %}

    <p> How now, brown cow? (No more commits) </p>

    {% endif %}
{% endblock %}
