{% extends "base.html" %}
{% block title %}
    Variables: Page {{ pageid }}
{% endblock %}

{% block content %}
    {% if variables %}

        <table>
            <tr>
                <th> Variable ID </th>
                <th> Variable Name </th>
                <th> Total </th>
            </tr>
        {% for variable in variables %}
            <tr>
                <td> {{ variable[1].id }} </td>
                <td> 
                    <a href="{{baseurl}}/variable/{{ variable[1].id }}">
                        {{ variable[1].name }}
                    </a>
                </td>
                <td> {{ variable[0] }} </td>
            </tr>
        {% endfor %}
        </table>

        <p>
        {% if pageid > 1 %}
        <a href="{{baseurl}}/variable/all/{{ pageid - 1 }}">prev</a>
        <a href="{{baseurl}}/variable/all/{{ pageid + 1 }}">next</a>
        {% else %}
        <a href="{{baseurl}}/variable/all/{{ pageid + 1 }}">next</a>
        {% endif %}
        </p>

    {% else %}

    <p> How now, brown cow? (No more variables) </p>

    {% endif %}
{% endblock %}
